h3 {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 40px;
}

body, html {
  overflow-x: hidden;
  font-family: "Roboto". sans-serif;
  height: 100%;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  background-color: #9E9E9E;
}

b {
  color:#000000;
}

b:focus,
b:hover {
  text-decoration: none;
  color: #000000;
}

.navbar {
  box-shadow: 0 16px 12px -12px #000000;
  border-radius: 0;
  margin-bottom: 20;
  text-align: center;
  background-color:#212121;
  color: #FFFFFF;
  border: none;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.full-width-bar {
  margin: 0 -9999rem;
  padding: 0.25rem 9999rem;
  background: #0D47A1;
  color: #FFFFFF;
}

.content {
  color: #000000;
  margin: 0;
  padding: 16px 0;
  position: center;
  transition: background 0.5s ease 0s;
}

.span3, .span8 {
  border: none;
  padding: 3px 2px;
  font-size: 14px;
  font-weight: 300;
}

.btn {
    border: none;
    color: white;
    size: medium;
    padding: 10px 22px;
    cursor: pointer;
}

.info {background-color: #0D47A1;}
.info:hover {background: #1976D2; color: white; font-weight: 300;}

.default {background-color: #ffffff; color: black; font-weight: 300;}
.default:hover {background: #CFD8DC;}
