<!DOCTYPE html>

<html>
    <head>
        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
        <title>Message Board</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="navbar-header">
                            <a href="/" style="text-decoration:none"><h3>Message Board</h3><br></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            {% if not user %}
                                <br><a style="size:6px"></a>
                                <li><a style="color:white" href="/login">Login</a></li>
                                <li><a style="color:white" href="/signup">Signup</a></li>
                            {% elif user %}
                                <br><a style="size:6px"></a>
                                <li><a style="color:white" href="/newpost">New Post</a></li>
                                <li><a style="color:white" href="/logout">Logout</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div><br>
    </body>
</html>